[submodule "3rdparty/libaudiotool"]
	path = 3rdparty/libaudiotool
	url = https://github.com/jcelerier/libaudiotool
[submodule "libaudiostream"]
	path = 3rdparty/libaudiostream
	url = https://github.com/jcelerier/libaudiostream
[submodule "3rdparty/faudiostream-code"]
	path = 3rdparty/faudiostream-code
	url = git://git.code.sf.net/u/jcelerier/faudiostream
